.idea
.vscode
.catkin*
.DS_Store

cmake-build-*
src/CMakeLists.txt
build
devel

acados_export*

src/simulator/assets/cmu/campus
src/simulator/assets/cmu/forest
src/simulator/assets/cmu/garage
src/simulator/assets/cmu/indoor
src/simulator/assets/cmu/tunnel